<a href="https://colab.research.google.com/github/jon890613/pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [5]:
 s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20201021', periods=6)
print(dates)

DatetimeIndex(['2020-10-21', '2020-10-22', '2020-10-23', '2020-10-24',
               '2020-10-25', '2020-10-26'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
print(df)

          A         B         C         D
0  0.407375 -0.412956  1.390585  0.754941
1  0.263379  1.357489 -0.355916 -1.828914
2  1.228275  1.374174  0.119698  0.794887
3  0.248465 -1.064603 -0.183379  2.301439
4 -0.088793 -1.211508 -1.469927 -0.632680
5 -0.512513 -0.184037 -0.271851  0.209160

In [11]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df)

                   A         B         C         D
2020-10-21  2.044906 -0.283967 -1.726614 -0.922309
2020-10-22  1.173422 -2.176406  0.324953 -0.484226
2020-10-23  0.203112  1.246255  0.349656  1.534504
2020-10-24  0.650237 -0.570753  0.811909  0.425195
2020-10-25 -1.173812 -0.009466  0.195405 -0.231662
2020-10-26  0.769071  1.253308 -0.496952 -0.384417

In [13]:
df2 = pd.DataFrame({'A': 1.,
                        'B': pd.Timestamp('20130102'),
                        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                        'D': np.array([3] * 4, dtype='int32'),
                        'E': pd.Categorical(["test", "train", "test", "train"]),
                        'F': 'foo'})
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [15]:
df2 = pd.DataFrame({'A': 1.,
                        'B': pd.Timestamp('20201021'),
                        'C': 1.,
                        'D': 3,
                        'E': pd.Categorical(["test", "train", "test", "train"]),
                        'F': 'foo'})
print(df2)

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo

In [17]:
df.head(3)

                   A         B         C         D
2020-10-21  2.044906 -0.283967 -1.726614 -0.922309
2020-10-22  1.173422 -2.176406  0.324953 -0.484226
2020-10-23  0.203112  1.246255  0.349656  1.534504

In [25]:
df[:3]

                   A         B         C         D
2020-10-21  2.044906 -0.283967 -1.726614 -0.922309
2020-10-22  1.173422 -2.176406  0.324953 -0.484226
2020-10-23  0.203112  1.246255  0.349656  1.534504

In [19]:
print(df.sort_index(axis=1, ascending=False))

                   D         C         B         A
2020-10-21 -0.922309 -1.726614 -0.283967  2.044906
2020-10-22 -0.484226  0.324953 -2.176406  1.173422
2020-10-23  1.534504  0.349656  1.246255  0.203112
2020-10-24  0.425195  0.811909 -0.570753  0.650237
2020-10-25 -0.231662  0.195405 -0.009466 -1.173812
2020-10-26 -0.384417 -0.496952  1.253308  0.769071

In [22]:
print(df.sort_index(axis=0, ascending=False))

                   A         B         C         D
2020-10-26  0.769071  1.253308 -0.496952 -0.384417
2020-10-25 -1.173812 -0.009466  0.195405 -0.231662
2020-10-24  0.650237 -0.570753  0.811909  0.425195
2020-10-23  0.203112  1.246255  0.349656  1.534504
2020-10-22  1.173422 -2.176406  0.324953 -0.484226
2020-10-21  2.044906 -0.283967 -1.726614 -0.922309

In [23]:
print(df.loc['20201023':'20201025', ['C', 'D']])

                   C         D
2020-10-23  0.349656  1.534504
2020-10-24  0.811909  0.425195
2020-10-25  0.195405 -0.231662

In [21]:
print(df.sort_values(by="C",ascending=False))

                   A         B         C         D
2020-10-24  0.650237 -0.570753  0.811909  0.425195
2020-10-23  0.203112  1.246255  0.349656  1.534504
2020-10-22  1.173422 -2.176406  0.324953 -0.484226
2020-10-25 -1.173812 -0.009466  0.195405 -0.231662
2020-10-26  0.769071  1.253308 -0.496952 -0.384417
2020-10-21  2.044906 -0.283967 -1.726614 -0.922309

In [26]:
df.loc[dates[0]]

A    2.044906
B   -0.283967
C   -1.726614
D   -0.922309
Name: 2020-10-21 00:00:00, dtype: float64